/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: '-apple-system',
'BlinkMacSystemFont', "Segoe UI", 'Roboto', "Helvetica Neue",
'Arial', "Noto Sans", 'sans-serif';

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50px,auto);
    gap:20px;
    margin: 0 5vw 0 5vw;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header{
    grid-row:1/2;
}

header h1{
    float: left;
    margin: 18px 0;
}

header nav ul{
    float:right;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 10px;
}

header nav ul li{
    margin-left: 20px;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50px,auto);
    gap:20px;
}

.overview-hero{
    grid-row: 1/2;
    padding: 20px
}

.overview-hero img{
    width: 150px;
    height: auto   ;
    float: left;
    padding: 0px 30px;
}

.learn-about{
    grid-row: 2/3;
}

.cards{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: minmax(30px,auto);
}

.card{
    display: grid;
    grid-template-rows: minmax(30px,12vw);
    place-items: center;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 3px 10px 0 rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin: 10px;
    
}

.card-body{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.card img{
    
    grid-row: 1/2;
    width: 12vw;
    border-radius: 2vw;
    height:auto;
    padding: 30px;   
}


.testing{
    grid-row:3/4;
}

.stories{
    grid-row: 4/5;
}

.stories article {
    display: grid;
    grid-template-columns: 1fr, 5fr;
    grid-template-rows: minmax(50px,auto);
    gap: 10px;
}

.article-body{
    grid-column: 2/3;
}

.stories article img{
    grid-column:1/2;
    width:15vw;
    height: auto;
    border-radius: 8vw;
    padding:10px;
}

/* .newsletter{
    just
} */