/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: '-apple-system',
'BlinkMacSystemFont', "Segoe UI", 'Roboto', "Helvetica Neue",
'Arial', "Noto Sans", 'sans-serif';

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50px,auto);
    /*gap:20px;*/
    margin: 0 5vw 0 5vw;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header{
    grid-row:1/2;
    background-color: white;
    
}

header h1{
    float: left;
    font-size: 18px;
    margin: 18px 0;
}

header ul{
    float:right;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 10px;

    
}

header li{
    margin-left: 20px;
    
}

header a{
    color: #6b7280;
    text-decoration: none;
}

header a:hover{
    color: #5A67DB;
}


main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50px,auto);
    gap:20px;
}

main section{
    padding: 20px 0;
}

.overview-hero{
    grid-row: 1/2;
    padding: 50px 20px;
    background-color: #E2E8F0;
}

.overview-hero img{
    width: 150px;
    height: auto   ;
    float: left;
    padding: 0px 30px;
}

.learn-about{
    grid-row: 2/3;
}

.learn-about h2{
    font-size: 24px;
    color: #48BB78;
}

.cards{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: minmax(30px,auto);
}

.card-body p{
    margin:0;
}

.card h3{
    margin:10px,0px,10px,0px;
    font-size: 21px;
    color: #48BB78;
}

.card{
    display: grid;
    grid-template-rows: minmax(30px,12vw);
    place-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 3px 10px 0 rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin: 10px;
    
    border-color: #E2E8F0;

}

.card-body{
    display:flex;
    flex-direction: column;

}

.card img{
    grid-row: 1/2;
    width: 12vw;
    border-radius: 2vw;
    height:auto;
    padding: 30px;   
}


.testing{
    grid-row:3/4;
    background-color: #4A5568;
    color: white;
    padding: 30px 0px;
}

.testing .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.testing a{
    text-decoration: none;
    background-color: #48BB78;
    border-radius: 5px;
    color: white;
    padding:10px 20px;
}

.testing-desciption{
    grid-column: 1/3;
}

.cta{
    grid-column: 3/4;
    margin: auto;
}

.stories{
    grid-row: 4/5;
    padding: 30px 0px;
}

.stories article {
    display: grid;
    grid-template-columns: 1fr, 5fr;
    grid-template-rows: minmax(50px,auto);
    gap: 10px;
}

.article-body{
    grid-column: 2/3;
}

.article-body h3{
    color: #5A67D8;
    font-size: 18px;
}

.article-body a{
    text-decoration: none;
    color: #5A67D8;
}

.stories article img{
    grid-column:1/2;
    width:10vw;
    height: auto;
    border-radius: 8vw;
    padding:10px;
}

.newsletter{
    background-color: #48BB78;
    color: white;
    text-align: center;
    padding: 30px 0;
}

.newsletter p{
    text-align: left;
    max-width: 500px;
    margin: 15px auto;
}

.newsletter form{
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.newsletter input{
    border: none;
    border-radius: 5px;
    padding: 15px 50px;
    margin-right: 10px;
}

.newsletter .btn{
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #5A67D8;
    padding: 15px 40px;
    
}

footer{
    background-color: #4A5568;
    color: white;
}

